@page
@model ChangePasswordModel
@{
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section metatags
{
  <title>@Localizer["title"]</title>
  <meta name="description" content="@Localizer["meta-desc"]">
  <meta name="keywords" content="@Localizer["meta-keywords"]">
  <meta name="author" content="doof">
}

<partial name="_StatusMessage" for="StatusMessage"/>
<section>
  <form id="change-password-form" method="post">
    <div asp-validation-summary="ModelOnly" class="validation-summary-errors" role="alert"></div>
    <div class="input-container">
      <label>@Localizer["old-password-label"]</label>
      <input asp-for="Input.OldPassword" autocomplete="new-password" placeholder="@Localizer["old-password-placeholder"]"/>
      <span asp-validation-for="Input.OldPassword" class="field-validation-error"></span>
    </div>
    <div class="input-container">
      <label>@Localizer["new-password-label"]</label>
      <input asp-for="Input.NewPassword" autocomplete="new-password" placeholder="@Localizer["new-password-placeholder"]"/>
      <span asp-validation-for="Input.NewPassword" class="field-validation-error"></span>
    </div>
    <div class="input-container">
      <label>@Localizer["confirm-new-password-label"]</label>
      <input asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="@Localizer["confirm-new-password-placeholder"]"/>
      <span asp-validation-for="Input.ConfirmPassword" class="field-validation-error"></span>
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["update-password-btn"]</button>
  </form>
</section>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}
