@page
@model EmailModel
@{
    ViewData["ActivePage"] = ManageNavPages.Email;
}
@section metatags
{
    <title>@Localizer["title"]</title>
    <meta name="description" content="@Localizer["meta-desc"]"/>
    <meta name="keywords" content="@Localizer["meta-keywords"]"/>
    <meta name="author" content="doof"/>
}
<partial name="_StatusMessage" for="StatusMessage" />
<section>
  <form id="email-form" method="post">
    <div asp-validation-summary="All" role="alert"></div>
    @if (Model.IsEmailConfirmed)
    {
      <div class="input-container">
        <label>@Localizer["email-confirmed"] ✓</label>
        <input asp-for="Email" placeholder="Please enter your email." disabled/>
      </div>
    }
    else
    {
      <div class="input-container">
        <label>Email</label>
        <input asp-for="Email" placeholder="@Localizer["verify-placeholder"]" disabled/>
        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail">@Localizer["verify-email-btn"]</button>
      </div>
    }
    <div class="input-container">
      <label>@Localizer["new-email"]</label>
      <input asp-for="Input.NewEmail" autocomplete="email" aria-required="true" placeholder="@Localizer["email-placeholder"]"/>
      <span asp-validation-for="Input.NewEmail"></span>
    </div>
    <button class="btn btn-primary" id="change-email-button" type="submit" asp-page-handler="ChangeEmail">@Localizer["change-email-btn"]</button>
  </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
