@page
@using System.CodeDom.Compiler
@model SetPasswordModel
@{
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section metatags
{
  <title>@Localizer["title"]</title>
  <meta name="description" content="@Localizer["meta-desc"]"/>
  <meta name="keywords" content="@Localizer["meta-keywords"]"/>
  <meta name="author" content="doof"/>
}

<section>
  <h1>@Localizer["title"]</h1>
  <partial name="_StatusMessage" for="StatusMessage"/>
  <p class="info">
    @Localizer["info"]
  </p>
  <form id="set-password-form" method="post">
    <div asp-validation-summary="ModelOnly" class="validation-summary-errors" role="alert"></div>
    <div class="input-container">
      <label>@Localizer["password-label"]</label>
      <input asp-for="Input.NewPassword" autocomplete="new-password" placeholder="@Localizer["password-placeholder"]"/>
      <span asp-validation-for="Input.NewPassword" class="field-validation-error"></span>
    </div>
    <div class="input-container">
      <label>@Localizer["confirm-password-label"]</label>
      <input asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="@Localizer["confirm-password-placeholder"]"/>
      <span asp-validation-for="Input.ConfirmPassword" class="field-validation-error"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["set-password-btn"]</button>
  </form>
</section>
@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}