@page
@model IndexModel

@section metatags{
    <title>@Localizer["Title"] | Doof</title>
    <meta name="description" content="Home page">
    <meta name="keywords" content="Home, Index">
    <meta name="author" content="doof">
}

<section class="vh-100 d-flex flex-column justify-content-center">
    <div class="row justify-content-center align-content-center mb-2">
        <h1 class="col-12 text-center fw-bold">@Localizer["hero"]</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center gap-1">
        <p class="mb-0 text-muted">@Localizer["hero-text"]</p>
        <a asp-page="/recipes/index"><button class="btn btn-primary">@Localizer["hero-button"]</button></a>
    </div>
</section>
<section class="mb-12">
    <h2 class="pb-3 fw-bold">@Localizer["why-title"]</h2>
    <ol class="m-0 p-0">
        <li class="ms-3 text-muted">@Localizer["why-1"]</li>
        <hr>
        <li class="ms-3 text-muted">@Localizer["why-2"]</li>
        <hr>
        <li class="ms-3 text-muted">@Localizer["why-3"]</li>
        <hr>
    </ol>
</section>
<section class="my-12 pt-5">
    <h2 class="fw-bold">@Localizer["terry-title"]</h2>
    <!-- image here? -->
    <h4 class="pb-3">@Localizer["terry-subtitle"]</h4>
    <ul class="m-0 p-0">
        <li class="ms-3 text-muted">@Localizer["terry-1"]</li>
        <hr>
        <li class="ms-3 text-muted">@Localizer["terry-2"]</li>
        <hr>
        <li class="ms-3 text-muted">@Localizer["terry-3"]</li>
        <hr>
    </ul>
</section>