@page
@using System.CodeDom.Compiler
@model ForgotPasswordModel

@section metatags
{
  <title>@Localizer["title"]</title>
  <meta name="description" content="@Localizer["meta-desc"]"/>
  <meta name="keywords" content="@Localizer["meta-keywords"]"/>
  <meta name="author" content="doof"/>
}

<section>
  <div class="form-container">
    <h1>@Localizer["enter-email"]</h1>
    <hr/>
    <form method="post">
      <div asp-validation-summary="ModelOnly" role="alert"></div>
      <div class="input-container">
        <label>@Localizer["email-label"]</label>
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="@Localizer["email-placeholder"]"/>
        <span asp-validation-for="Input.Email"></span>
      </div>
      <button class="btn btn-primary" type="submit">@Localizer["reset-password-btn"]</button>
    </form>
  </div>
</section>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}