@using System.Globalization
@using doof.Resources.Shared
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @RenderSection("metatags", false)
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/@(nameof(doof)).styles.css">
</head>
<body>
<header>
    <a asp-area="" asp-page="/Index">doof</a>
    <nav>
        <ul>
            <li>
                <a asp-page="/Index">@Localizer["home"]</a>
            </li>
            <li>
                <a asp-page="Recipes">@Localizer["recipes"]</a>
            </li>
            <partial name="_LoginPartial"/>
        </ul>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
    <div>
        &copy; 2024 - doof
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>