@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a  asp-page="/Account/Manage/Index" title="Manage">@Localizer["hello"] @User.Identity?.Name!</a>
        </li>
        <li>
            <form  asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-page="/Account/Register">@Localizer["register"]</a>
        </li>
        <li>
            <a  asp-page="/Account/Login">@Localizer["login"]</a>
        </li>
    }
